# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Sensitive files
*.pem
*.key
id_rsa
id_rsa.pub

# Environment files
*.env
infrastructure/terraform/terraform.tfvars

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db